{% extends 'models.html' %}
{% block title %}Adicionar Filme{% endblock %}

{% block content %}
<main>
    <form action="/enviar_filme" method="post">
        <label for="titulo">Nome do Filme: </label>
        <input type="text" name="titulo">
        <br>
        <label for="genero">Genero: </label>
        <input type="text" name="genero">
        <br>
        <label for="ano_lancamento">Ano de Lançamento: </label>
        <input type="number" name="ano_lancamento">
        <br>
        <label for="avaliacao">Avaliação: </label>
        <input type="number" name="avaliacao">
        <br>
        <button type="submit">Enviar</button>
    </form>
</main>
{% endblock %}